@use "./initial";

.form {
    margin-top: 30px;
    position: relative;
    transition: all 0.2s;

    &__form {
        max-width: 600px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    &--bulk {
        margin-top: 10px;
        padding-bottom: 100px;
        .form__title {
            max-width: 350px;
        }
        .form__form {
            max-width: 100%;
        }
        .form__btn--bulk {
            position: relative;
            bottom: 0;
            left: 0;
            opacity: 1;
        }
    }

    &__title {
        font-size: 32px;
        background-color: var(--accent);
        color: var(--bg);
        text-shadow: 0 0 1px var(--bg);
        display: inline-block;
        padding: 0 10px;
        max-width: 212px;
        margin-bottom: 15px;
    }

    &__input-box {
        width: 100%;
        position: relative;

        span {
            position: absolute;
            top: 13px;
            left: -20px;
            color: red;
            text-shadow: 0 0 3px red;
        }

        select {
            width: 100%;
            padding: 10px;
            color: var(--white);
            &:focus {
                box-shadow: 0 0 10px var(--accent);
            }
        }
    }

    &__input {
        width: 100%;
        color: var(--white);
        &:focus {
            &::placeholder {
                opacity: 0.3;
            }
        }
    }

    &__textarea-box {
        // max-width: 100%;
    }

    &__textarea {
        height: 500px;
        min-height: 150px;
    }

    &__btn-box {
    }

    &__btn {
        padding: 10px 20px;
        font-size: 18px;
        transition: box-shadow 0.3s;
        &:focus {
            box-shadow: inset 0 0 15px var(--accent);
        }
        &--bulk {
            position: absolute;
            bottom: -40px;
            right: 0;
            opacity: 0.5;
            &:hover {
                opacity: 1;
            }
        }
        &:active {
            opacity: 0.7;
        }
    }

    &__explainer {
        margin-bottom: 20px;
    }

    &__explainer-row {
        line-height: 1.5;
        ul {
            padding-left: 20px;
            font-size: 14px;
        }
    }

    pre {
        padding: 7px 12px;
        font-family: inherit;
        background-color: #181818;
        font-size: 13px;
    }
}
