@use "./initial";

.greet-screen {
    transition: all 1s;
    margin-top: 100px;

    &__title {
        display: inline-block;
        margin-bottom: 20px;
    }

    &__sub-title {
        font-size: 18px;
        line-height: 2;
        span {
            text-decoration: underline;
        }
        span:last-child {
            text-decoration: none;
            opacity: 0.3;
            font-style: italic;
            display: block;
            margin-top: 10px;
            font-size: 14px;
            line-height: 1.5;
            transition: all 0.1s;
            &:hover {
                opacity: 1;
            }
        }
        span.next-revision {
            opacity: 0.5;
        }
    }

    &__btns {
        display: flex;
        align-items: center;
        column-gap: 30px;
        margin-top: 20px;
    }
    &__btn {
        font-size: 30px;
        padding: 10px 20px;
        transition: box-shadow 0.3s;
    }
}
