@use "./initial";

// NOTE: because I import with 'use' and not 'import' (which is deprecated), I must use this syntax now: @media (max-width: #{initial.$md3}px) { ... }

.app {
    flex-grow: 1;
}

.footer {
    padding: 20px 0;
    &__column {
        opacity: 0.3;
        &:hover {
            opacity: 1;
            text-shadow: 0 0 2px var(--accent);
        }
    }
}

// ================================================================================================

.app-title {
    font-size: 32px;
    background-color: var(--accent);
    color: var(--bg);
    text-shadow: 0 0 1px var(--bg);
    padding: 0 10px;
}

// ================================================================================================

.greet-screen {
    transition: all 1s;
    margin-top: 100px;

    &__title {
        display: inline-block;
        margin-bottom: 20px;
    }

    &__sub-title {
        font-size: 18px;
        line-height: 2;
    }
}

// ================================================================================================

.many {
    display: flex;
    flex-direction: row;
    column-gap: 40px;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .prompt__option-content {
        display: flex;
        align-items: center;
        column-gap: 10px;
        padding: 5px 15px;
        border-color: #555;
        color: #fff;
        &:hover {
            border-color: var(--accent);
            color: var(--bg);
        }
    }
}

// ================================================================================================

span[data-lang] {
    display: flex;
    align-items: center;
    column-gap: 10px;
    pointer-events: none;
}
.lang-flag {
    font-size: 40px;
    pointer-events: none;
}

.lang-name {
    pointer-events: none;
}

.lang-info {
    transition: all 0.3s;
    position: absolute;
    z-index: 10;
    // bottom: 100%;
    // right: 100%;
    bottom: 20px;
    left: 0px;
    max-width: 900px;
    width: 100%;
    line-height: 1.25;
    padding: 15px;
    background-color: #111;
    border: 1px solid #333;
    span {
        opacity: 0.5;
    }
}

.lang-info__title {
    text-decoration: underline;
    font-weight: bold;
}
