@use "./initial";

// NOTE: because I import with 'use' and not 'import' (which is deprecated), I must use this syntax now: @media (max-width: #{initial.$md3}px) { ... }

.app-title {
    font-size: 32px;
    background-color: var(--accent);
    color: var(--bg);
    text-shadow: 0 0 1px var(--bg);
    padding: 0 10px;

    @media (max-width: #{initial.$md2}px) {
        font-size: 28px;
    }
}

// ================================================================================================

.many {
    display: flex;
    flex-direction: row;
    column-gap: 40px;
    justify-content: space-between;
    flex-wrap: wrap;

    .prompt__option-content {
        display: flex;
        align-items: center;
        column-gap: 10px;
        padding: 5px 15px;
        border-color: #555;
        color: #fff;
        &:hover {
            border-color: var(--accent);
            color: var(--bg);
        }
    }

    @media (max-width: #{initial.$md1}px) {
        column-gap: 30px;
    }
    @media (max-width: #{initial.$md2}px) {
        column-gap: 20px;
        justify-content: start;
        .prompt__option-content {
            padding: 5px 10px;
            .lang-flag {
                font-size: 30px;
            }
            .lang-name {
                font-size: 16px;
            }
        }
    }
}

// ================================================================================================

.few {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 40px;

    .prompt__option-content {
        display: flex;
        align-items: center;
        column-gap: 10px;
        padding: 5px 15px;
        border-color: #555;
        color: #fff;
        &:hover {
            border-color: var(--accent);
            color: var(--bg);
        }
    }
}

// ================================================================================================

.simple .prompt__option--choice {
    color: #fff !important;
    border-color: #555 !important;
}
