@use "./initial";

// NOTE: because I import with 'use' and not 'import' (which is deprecated), I must use this syntax now: @media (max-width: #{initial.$md3}px) { ... }

.footer {
    &__column {
        padding: 20px 0;
        opacity: 0.3;
        font-size: 14px;
        transition: all 0.1s;
        &:hover {
            opacity: 1;
        }
    }

    &__last-practiced {
        display: flex;
        align-items: center;
        column-gap: 70px;
    }
}

// ================================================================================================

.app-title {
    font-size: 32px;
    background-color: var(--accent);
    color: var(--bg);
    text-shadow: 0 0 1px var(--bg);
    padding: 0 10px;
}

// ================================================================================================

.many {
    display: flex;
    flex-direction: row;
    column-gap: 40px;
    // justify-content: space-evenly;
    justify-content: space-between;
    flex-wrap: wrap;

    .prompt__option-content {
        display: flex;
        align-items: center;
        column-gap: 10px;
        padding: 5px 15px;
        border-color: #555;
        color: #fff;
        &:hover {
            border-color: var(--accent);
            color: var(--bg);
        }
    }
}

// ================================================================================================

.few {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 40px;

    .prompt__option-content {
        display: flex;
        align-items: center;
        column-gap: 10px;
        padding: 5px 15px;
        border-color: #555;
        color: #fff;
        &:hover {
            border-color: var(--accent);
            color: var(--bg);
        }
    }
}

// ================================================================================================

.simple .prompt__option--choice {
    color: #fff !important;
    border-color: #555 !important;
}
