<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet" />
        <link rel="icon" href="./favicon.ico" type="image/x-icon" />
        <title><%= htmlWebpackPlugin.options.title %></title>
    </head>
    <body style="background-color: #000">
        <div class="section">
            <div class="container">
                <div class="header">
                    <div class="header__column"><h1><%= htmlWebpackPlugin.options.title %></h1></div>
                    <div class="header__column">
                        <button class="header__btn">Add Word</button>
                        <button class="header__btn">Practice</button>
                    </div>
                </div>

                <div class="app"></div>

                <div class="footer">
                    <div class="footer__column">Last Practiced: <span>2 days ago</span></div>
                </div>
            </div>

            <div class="bottom-block">
                <div class="actions">
                    <div class="actions__btn">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                            <path
                                d="M8 256a56 56 0 1 1 112 0A56 56 0 1 1 8 256zm160 0a56 56 0 1 1 112 0 56 56 0 1 1 -112 0zm216-56a56 56 0 1 1 0 112 56 56 0 1 1 0-112z"
                            />
                        </svg>
                    </div>
                    <div class="actions__menu">
                        <div class="actions__action actions__action--color" title="Change the accent color of the interface">
                            Change color
                        </div>
                        <div class="actions__action actions__action--export" title="Export as JSON">Export</div>
                        <div class="actions__action actions__action--import" title="Import as JSON">Import</div>
                        <input class="importer" type="file" />
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
